@charset "utf-8";
/* CSS Document */


img {
	display:block;}
*{
	padding:0px;
	margin:0px;
	font-size:14px;
	font-family:"宋体";}

#all
{
	width:1000px;
	height:1473px;
	margin:0px auto;
	padding:50px;
	border:1px solid #f00;
	background-image:url(../images/bg.jpg);
		background-repeat:no-repeat;
	
}
	
	
	#top{
		height:260px;
		border:1px red solid;
		}
		#top ul li{
			list-style:none;}
		#logo li{
			margin-bottom:30px;}
			
		#menu li{
			float:left;
			margin:0px 15px;
			}
		#menu #heart{
			margin:0px;}
	
	#meet{
		height:187px;
		border:1px blue solid;
		background:#f8decf;
		}
		#meet ul{
			margin-top:20px;
			margin-left:50px;
			padding:0px;}
		#meet ul li{ 
			list-style:none;
			float:left;
			margin-right:25px;}
		#lock{
			margin-top:40px;}
		#imgt{
			margin-top:25px;}
	
	#pro{
		height:148px;
		border:1px blue solid;
		}
		#pro ul{
			list-style-type:none;
			padding:0px;
			float:left;}
		#pro #dtime{
			margin-top:25px;
			padding:0px;}
		#pro #dtime li{
			background-image:url(../images/dtime.png);
			float:left;
			width:88px;
			height:46px;}
		
		#pro li p{
			margin-left:11px;
			margin-top:6px;}
			
			#pro #dtime .other1{
				margin-left:50px;}
			#pro #dtime .other2{
				margin-left:25px;}
				#pro #dtime .day{
				background:none;
				margin-left:50px;
				width:147px;}
				.day img {
					margin-top:18px;}
			#pro #dtime .other3{
				margin-left:85px;}
			#pro #dtime .other4{
				margin-left:160px;}
			#pro #dtime .other5{
				margin-left:35px;}
		#pro #projpg{
			margin-top:0px;}
		
		#pro #dtimetext li{
			float:left;}
	
	#left{
		height:819px;
		width:277px;
		float:left;
		border:1px blue solid;
		}
	
	#right{
		height:819px;
		width:687px;
		float:left;
		border:1px blue solid;
		}

#foot{
	height:45px;
	background:red;
	border:1px blue solid;}